*{
  box-sizing: border-box;

}
body{
  margin: 0;
  padding: 0;
  font-family: 'Gotu', sans-serif;
}

.container {
  width: 1260px;
  margin: auto;
  position: relative;
}


.header{
  background: #544580;
  padding-top: 8px;
}

.icons_font{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link:not(:last-child) {
  margin-right: 12px;
}

.promo{
  background-image: url("../img/image.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: auto;
  margin: 0;
  height: 316px;

}
.promo-title{
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  font-size: 45px;


}

.menu {
  display: flex;
  justify-content: center;
}
.promo-menu {
  font-size: 18px;
  display: inline-block;
  color: #2C2A2A;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  margin: 9px;


}

.promo-menu:not(:last-child) {
  margin-right: 150px;
}
.main-navbar {
  padding: 1px ;

}
.main-navbar:after {
  content: '';
  display: block;
  height: 1px;
  background: #A9A3A3;
}

.main-nav {
  padding: 1px;
}

.main-nav:after{
  content: '';
  display: block;
  height: 1px;
  background: #A9A3A3;
}

.section-heading {
  background-image: url("../img/image-menu.svg");
  height: 625px ;
  margin-bottom: 80px;

}

.text-menu {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-top: 40%;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #FFFFFF;

}
.breakfast {
  border-radius: 21px;
}

.recipes{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

}

.recipes-title {
  text-align: center;
  padding-bottom: 60px;
}

.recipes-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.footer {
  background: #2A1440;
  height: 230px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.footer-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.food-blog {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.social {
  text-align: center;
}

/* ------------рецепты--------------*/

.mramornogo-keksa {
  background-image: url("../img/recept/recept-mramornogo-keksa.jpg");
  height: 625px ;
  margin-bottom: 80px;
}

.text-keksa {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-top: 40%;

}